/* 
    Created on : 2015.19.1, 21:27:50
    Author     : janis
*/

body{
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}
.draggable { 
    width: 300px; 
    height: 200px; 
    //padding: 1px; 
    float: left; 
    margin: 10px 10px 10px 0;
    cursor: auto;
    //border: 1px solid #aaaaaa;
    padding:5px;
    position: absolute;
    cursor:move;

}

.draggable:hover { 
    background-color: rgba(0, 0, 0, 0.08);
    //opacity: 0.4;
}

.show {
    z-index:98;
    position: absolute;
    background-color:#C0C0C0;
    padding: 2px;
    display: inline !important;
    margin: 0;
}
#mouse_menu {
    display:none;
    padding:10px;                
}
.mouse-menu-item{
    cursor:pointer;
}
.draggable-textbox{
    max-height: calc(100% - 10px);
    min-height: calc(100% - 10px);
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.editTools{
    position: absolute;
    display: block !important;
    z-index: 100;
    width:170px;
    height: 20px;
    background: #C0C0C0;
    margin-top: -25px;
    list-style-type: none;
}
.edit-tool-item{
    float: left;
    margin-right:3px;
    cursor:pointer;
}

#hider{
    position:absolute;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.8);
    display:none;
}

#popup_box{    
    position:absolute;
    //top: 50%;
    left: 50%;
    width:500px;
    height:200px;
    margin-top: -80px; /*set to a negative number 1/2 of your height???*/
    margin-left: -250px; /*set to a negative number 1/2 of your width ??*/
    border: 1px solid #ccc;
    border:  2px solid black;
    z-index:100; 
    display: none;
}
.pop-up-text{
    width:100%;
    height:100%;
}
#header_menu_container{
    position: fixed;
    width: 100%;
    height:25px;
    position: fixed;
    top:0;
    z-index:95;
    background:rgba(0, 0, 0, 0.1);
}
#header_menu{
    position: relative;
    left:50%;
    margin-left: -250px;
    width: 500px;
    //background:rgba(0, 0, 0, 0.1);
}
.header-menu-item{
    cursor: pointer;
}
